.DS_Store
.idea
*.pyc
*__pycache__*
LICENSE
README
*.gz

*.txt
*.csv
*.tsv

*pptx
*.docx
*.doc
*.xlsx
*.xls

*.png
*.JPG
*.jpeg
*.pdf

## find /Users/mariapalafox/Desktop/TOOLBOXR -name ".git" -print

ClusterProfShinyORA/*
ClusterProfShinyORA
GGPLOT2/*
GGPLOT2
SHINY_TUTORIALS/*shiny.rstudio.com-tutorial/*
SHINY_TUTORIALS/*shiny.rstudio.com-tutorial
r4ds/*
r4ds
DGE_workshop/*
DGE_workshop
GO_KEGG_ENRICHR_tutorials/*DOSE.wiki/*
GO_KEGG_ENRICHR_tutorials/*DOSE.wiki
code-smells-and-feels/*
code-smells-and-feels
PLOTS/*
PLOTS

